.nav_item {
    padding-top: 8px;
    padding-bottom: 8px;
    border-image: linear-gradient(to right, rgba(150,150,150, 1), rgba(150,150,150, 0));
    border-image-slice: 1;
    border-bottom: 1px white solid;
    font-size: 14px;
    cursor: pointer;
    padding-left: 15px;
}

.nav_item:hover {
    color: #ffffff;
    background: linear-gradient(to right, rgba(160,160,160, 1), rgba(160,160,160, 0))
}

.items_row {
    padding-left: 22px;
    padding-right: 22px;
}

.nav_title {
    font-size: 18px;
    padding-top: 11px;
    padding-bottom: 11px;
    border-image: linear-gradient(to right, rgba(150,150,150, 1), rgba(150,150,150, 0));
    border-image-slice: 1;
    border-bottom: 1px white solid;
    cursor: default;
    /*padding-left: 0px;*/
}

.buttons_col {
    display: flex;
    justify-content: flex-end;
    padding-top: 100px;
    padding-right: 0px;
}

.cancel_btn, .submit_btn {
    background: rgba(150,150,150, 0);
    border: 1px solid white;
    color: white;
    
    font-size: 14px;
    border-radius: 6px;
    width: 120px;
    height: 30px;
}

.cancel_btn:hover, .submit_btn:hover {
    background: rgba(160,160,160, 1);
}

.cancel_btn {
    margin-left: 5px;
}
.nav_link{
    padding-left: 0px;
    padding-right: 0px;
    color: white;
    text-decoration: none;
}
.nav_link_active{
    color: red;
}
.nav_link_active > .nav_item{
    color: red;
}